<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-jsms"
  version="1.1.0">

    <name>JSMS Cordova Plugin</name>
    <description>JSMS for Cordova plugin</description>
    <author>JiGuang</author>
    <keywords>JSMS,SMS,jsms,sms</keywords>
    <license>MIT License</license>

    <preference name="APP_KEY" />

    <js-module src="www/JSMSPlugin.js" name="JSMSPlugin">
        <clobbers target="jsms"/>
    </js-module>

    <engines>
        <engine name="cordova" version=">=5.0" />
    </engines>

    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="JSMSPlugin">
          <param name="android-package" value="cn.jiguang.jsms.JSMSPlugin" />
        </feature>
      </config-file>

      <config-file name="AndroidManifest.xml" parent="/manifest">
        <!-- Required permissions. -->
        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        <uses-permission android:name="android.permission.READ_SMS"/>
      </config-file>

      <config-file name="AndroidManifest.xml" parent="/manifest/application">
        <meta-data android:name="JPUSH_APPKEY" android:value="$APP_KEY"/>
      </config-file>

      <source-file src="src/android/jpush-sdk-sms-v1.0.0.jar" target-dir="libs"/>
      <source-file src="src/android/JSMSPlugin.java" target-dir="src/cn/jiguang/jsms"/>

    </platform>


    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="JSMSPlugin">
                <param name="ios-package" value="JSMSPlugin"/>
            </feature>
        </config-file>

        <header-file src="src/ios/JsmsSDK/include/JSMSConstant.h" />
        <header-file src="src/ios/JsmsSDK/include/JSMSSDK.h" />

        <source-file src="src/ios/JsmsSDK/libsms-lib.a" framework="true" />

        <header-file src="src/ios/Plugins/JSMSPlugin.h"/>
        <source-file src="src/ios/Plugins/JSMSPlugin.m"/>
        <header-file src="src/ios/Plugins/AppDelegate+JSMS.h"/>
        <source-file src="src/ios/Plugins/AppDelegate+JSMS.m"/>

        <resource-file src="src/ios/JSMSConfig.plist" />

        <config-file target="*JSMSConfig.plist" parent="APP_KEY">
            <string>$APP_KEY</string>
        </config-file>
    </platform>


</plugin>
